.main{
    display: flex;
    justify-content: space-around;
}
.list ul{
    display: flex;
    list-style: none;
}
 .list ul li {
    padding-right: 5px;
    
 }   
 .maincontend{
    display: flex;
   
 }
img{
    width: auto;
    height: 550px;
}
.left{
   
    width: 70%;
}
.block{
    border-bottom: 1px solid black;
}
.right{
    
    border: 1px solid black;
    padding: 7px 10px;
    background-color: yellow;
    height: 110px;
    margin: 25px 10px 0 15px;
}
.right h1{
    padding: 0 0 0 29px;
    background-color: red;
    color:white;
    margin-top: 0.5px;
}
img{
    width: 100%;
    height: 450px;
}
 @media(max-width:700px){
    .maincontend{flex-wrap: wrap;}
    .right{
        width: 100%;
    }
 }
 @media(max-width:400px){
    .right{
        width:100%
    }
 }
 @media screen and (max-width:500px)
 {
.main{
    flex-wrap: wrap;
}
 }